
@{
    Layout = null;
    ViewBag.Title = "Massege";
}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <title>Custom Modal Box | CodingNepal</title> -->
    <title>Massege</title>
    <link href="~/FrontEnd/dist/css/errorMassege.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="center">
        <input type="checkbox" id="click" >
        <label for="click" class="click-me" ></label>
        <div class="content">
            <div class="header">
                <h2>ERROR</h2>
            </div>
            <p>Activate Java script file on your browser</p>
            <div class="line"></div>

            <a style="text-decoration:none" href="/Home/Login" for="click" class="close-btn">Go Back</a>

        </div>
    </div>
    </body>
</html>